main {
  width: 90%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 0.8rem;
}

/*--------------------------------------------------*/
/*---------------------identity --------------------*/
/*--------------------------------------------------*/
h2 {
  text-align: left;
  width: 45px;
}
.containerIdentity {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: auto;
  width: 100%;
  max-width: 700px;
  color: rgb(5, 220, 69);
}

.identity {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  padding: 1rem;
  border: 1px solid;
  border-radius: 8px;
  background-color: rgba(48, 108, 96, 1);
}

label {
  display: block;
}

input,
textarea {
  text-align: left;
  overflow-y: hidden;
  overflow-x: auto;
  line-height: 38px;
  width: 80%;
  height: 40px;
  border-radius: 5px;
  border: 2.5px solid #c89f36;
  padding-left: 8px;
  margin-bottom: 10px;
}
.nameAccount {
  display: flex;
  justify-content: space-around;
}
.name {
  width: 100%;
  height: 40px;
  margin-bottom: 1rem;
}

.divName {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

/*--------------------------------------------------*/
/*---------------------button --------------------*/
/*--------------------------------------------------*/
.btnAdmin {
  width: 90%;
  max-width: 900px;
  height: 50px;
  border-radius: 15px;
  outline: none;
  margin: auto;
  background-color: #c89f36;
}
.software {
  border: 2px dashed;
  background-color: gray;
}
