p {
  font-size: clamp(16px, 1.5vw, 40px);
}
h1 {
  text-align: center;
}
section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 80%;
  margin: 50px auto 50px auto;
}
.calendarContainer {
  width: 100%;
  max-width: 500px;
  min-width: 320px;
  border-radius: 15px;
  background-color: #306c60;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
}

.buttonHeader {
  background-color: #306c60;
  font-size: 35px;
  border: none;
}
.arrow {
  color: #c89f36;
  background-color: #306c60;
  cursor: pointer;
}

table {
  width: 100%;
  padding: 15px;
  background-color: #c89f36;
  text-align: center;
  font-size: 20px;
  min-height: 400px;
}

td {
  border-radius: 5px;
  font-size: clamp(16px, 1.5vw, 40px);
}
.days {
  opacity: 0.4;
}
.mondayBtn {
  border: none;
  width: 100%;
  height: 100%;
  font-size: clamp(16px, 1.5vw, 40px);
  background-color: transparent;
  cursor: pointer;
}

.monday.active {
  background-color: green;
  color: white;
  position: relative;
  border-radius: 50%;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
}
.buttonFooter {
  width: 7rem;
  height: 2rem;
  border: 1px solid#c89f36;
  border-radius: 8px;
  background-color: #306c60;
  color: #120d03;
  font-size: 15px;
  font-weight: bold;
}

/* ---------------------------------------------------------------------------------- */
/* ------------------------------ container prise de rdv --------------------------- */
/* -------------------------------------------------------------------------------- */

.priseDeRendezVous {
  width: 40%;
  min-width: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.dateChoisi {
  min-width: 310px;
  height: 5rem;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #306c60;
}
.hourOfDate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  border-radius: 15px;
  padding: 10px;
  background-color: #c89f36;
  width: 310px;
}
.hourOfDateForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  gap: 25px;
}
.horaireDispo {
  width: 100px;
  min-width: 30px;
  height: 50px;
  font-size: 25px;
  border: 1px solid;
  border-radius: 10px;
  text-align: center;
  background-color: #306c60;
  color: #c89f36;
}
.custom-checkbox input {
  display: none; /* Cache la checkbox native */
}

.custom-checkbox span {
  display: flex;
  width: 100px;
  min-width: 30px;
  height: 50px;
  justify-content: center;
  align-items: center;
  font-size: clamp(16px, 1.5vw, 40px);
  border: 2px solid #333;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  vertical-align: middle;
}

.custom-checkbox input:checked + span {
  background-color: #007bff;
  border-color: #007bff;
}

.custom-checkbox input:checked + span::after {
  content: "✔";
  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
hr {
  width: 90%;
  height: 5px;
  background-color: #120d03;
  border: none;
  border-radius: 5px;
}
.custom-checkbox input {
  display: none; /* Cache la checkbox native */
}

.custom-checkbox span {
  display: flex;
  width: 100px;
  min-width: 30px;
  height: 50px;
  justify-content: center;
  align-items: center;
  font-size: clamp(16px, 1.5vw, 40px);
  border: 2px solid #333;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  vertical-align: middle;
}

.custom-checkbox input:checked + span {
  background-color: #007bff;
  border-color: #007bff;
}

.custom-checkbox input:checked + span::after {
  content: "✔";
  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
hr {
  width: 90%;
  height: 5px;
  background-color: #120d03;
  border: none;
  border-radius: 5px;
}
.calendar {
  width: 100%;
}
.rdv {
  width: 90%;
  font-size: 25px;
  border-radius: 10px;
  color: #c89f36;
  background-color: #306c60;
}
.reserved {
  background-color: #dc3545;
  color: whitesmoke;
  pointer-events: none;
}

/* --------------------------------------------------------------------------- */
/* ------------------------------ msg prise de rdv --------------------------- */
/* --------------------------------------------------------------------------- */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
}
.error,
.succes {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  padding: 15px;
  width: 320px;
  height: 200px;
  background-color: #a9afae;
  z-index: 200;
}
.succes {
  color: green;
}
.error {
  color: red;
}
.returnAccount {
  cursor: pointer;
  text-align: center;
  text-decoration: underline 1px double;
}
.bi-x-circle-fill {
  color: rgb(221, 60, 60);
  font-size: clamp(16px, 1.5vw, 40px);
}
.errorMessage {
  display: flex;
  justify-content: center;
  align-items: center;
}
