p {
  font-size: clamp(16px, 1.5vw, 40px);
}
section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 80%;
  margin: 50px auto 50px auto;
}
.calendarContainer {
  width: 100%;
  max-width: 500px;
  min-width: 320px;
  border-radius: 15px;
  background-color: #306c60;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
}

.buttonHeader {
  color: #c89f36;
  font-size: 35px;
}
.currentMonth {
  font-size: 31px;
}
table {
  width: 100%;
  padding: 15px;
  background-color: #c89f36;
  text-align: center;
  font-size: 20px;
  min-height: 400px;
}

td {
  border-radius: 5px;
}
.monday.active {
  background-color: green;
  color: white;
  position: relative;
  border-radius: 50%;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
}
.buttonFooter {
  width: 7rem;
  height: 2rem;
  border: 1px solid#c89f36;
  border-radius: 8px;
  background-color: #306c60;
  color: #120d03;
  font-size: 15px;
  font-weight: bold;
}

/* ---------------------------------------------------------------------------------- */
/* ------------------------------ container prise de rdv --------------------------- */
/* -------------------------------------------------------------------------------- */

.priseDeRendezVous {
  width: 40%;
  min-width: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.dateChoisi {
  min-width: 310px;
  height: 5rem;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #306c60;
}
.hourOfDate {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  border-radius: 15px;
  padding: 10px;
  background-color: #c89f36;
  width: 310px;
}
.hourOfDate span {
  width: 100px;
  min-width: 30px;
  height: 50px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 1px solid;
  border-radius: 10px;
}
.calendar {
  width: 100%;
}
.rdv {
  width: 310px;
  height: 80px;
  font-size: 25px;
  border-radius: 10px;
  color: #c89f36;
  background-color: #306c60;
}
.reserved {
  background-color: #dc3545;
  color: whitesmoke;
  pointer-events: none;
}
