/* ///////////////////////////////////////////////////brands.html////////////////////////////////////////////////////////// */

main {
  width: 100%;
  padding: 50px;
}

/* ------------------------------------------------------------
-----mise en place des conteneur de deux div sur une page -----
--------------------------------------------------------------- */
.container_brands {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
  width: 100%;
  gap: 20px;
}
/* ----------------------------------------------------------
---------------taille de chaque div  ---------------------
---------------------------------------------------------- */

.container_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
  max-width: 680px;
  min-width: 320px;
  max-height: 400px; /* Hauteur par défaut (plié) */
  transition: max-height 1s ease-in-out;
  padding: 10px;
  background-color: rgba(48, 108, 96, 1);
  border: 15px groove #c89f36;
  border: 15px inset #c89f36;
  border: 15px outset #c89f36;
  border: 15px ridge #c89f36;
  border-radius: 1rem;
  position: relative;
}
.container_card.expanded {
  max-height: 2000px; /* Se déplie pour montrer tout le contenu */
}

.toggle-btn {
  margin-top: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  position: absolute;
  bottom: 0;
}

.toggle-btn i {
  font-size: 35px;
  transition: transform 0.3s ease;
  color: #c89f36;
}

.toggle-btn.active i {
  transform: rotate(180deg);
}

/* -------------------------------------------------
-------------mise en place des photos -----------
------------------------------------------------- */

.img {
  width: 100%;
  min-height: 300px;
}
.img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: scale-down;
}

/* -------------------------------------------------
-----------mise en place du texte----------------
------------------------------------------------- */

.speech {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  gap: 30px;
  padding: 10px;
  overflow: hidden;
}
p {
  font-size: clamp(16px, 3vw, 20px);
}
H3 {
  font-size: clamp(18px, 3vw, 25px);
  text-align: center;
  text-wrap: nowrap;
}
ol {
  text-align: left;
  list-style: none;
  margin: 25px 0 20px 0;
}
li {
  font-size: clamp(16px, 3vw, 20px);
  margin-bottom: 15px;
}
