/* Corps de la page */
body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333;
}

/* Conteneur principal */
.container {
  text-align: center;
  background-color: rgba(48, 108, 96, 1);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 95px auto;
}

/* Contenu */
.content h1 {
  font-size: 2.5rem;
  color: #c89f36;
  margin-bottom: 20px;
}

.content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

/* Animation de chargement */
.spinner {
  border: 8px solid #f3f3f3; /* Background */
  border-top: 8px solid #c89f36; /* Color de l'animation */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

/* Animation spinner */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
