.containerCards {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 2rem;
}

.cards {
  position: relative;
  display: inline-block;
  margin: auto;
  width: 300px;
  padding: 0.5rem;
  border: 2px solid;
  /* background: #e0e0e0; */
  background-color: #c89f36;
  box-shadow: 10px 10px 15px black;
  color: #2c2c2c;
  border-radius: 15px;
}
.cards p {
  font-size: 18px;
  line-height: 1.5;
  text-wrap: nowrap;
  overflow-x: hidden;
}
.img {
  margin: auto;
  object-fit: cover;
  width: 90%;
  height: 150px;
  border-radius: 8px;
  background-color: white;
}
h3 {
  margin-bottom: 1rem;
  text-align: center;
}
.footerCards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.bi-heart-fill {
  float: right;
  font-size: 20px;
  color: black;
}
.heart-black {
  color: black;
}

.heart-red {
  color: red;
}

.buttonPushCart {
  border: none;
  font-weight: bold;
  background-color: #c89f36;
  padding: 10px;
  border-radius: 10px;
  font-size: 25px;
  color: #2c2c2c;
}

/*---------------------------------------------*/
/*---------------bouton filtres----------------*/
/*---------------------------------------------*/

.buttonFilter {
  display: flex;
  border: none;
  font-weight: bold;
  gap: 1rem;
  margin: 20px auto;
  background-color: #c89f36;
  padding: 10px;
  border-radius: 10px;
  font-size: 30px;
  box-shadow: 0 0 20px white;
}
.bi-filter-square-fill {
  font-size: 100%;
  float: right;
  color: black;
}
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}
.overlay.open {
  opacity: 1;
  visibility: visible;
}
.menuSearch {
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
  position: absolute;
  top: -100px;
  transform-origin: top center;
  width: 80%;
  min-width: 320px;
  background-color: #306c60;
  color: #c89f36;
  transition: opacity 0.9s ease-in-out, transform 0.8s ease-in-out,
    visibility 0.8s ease-in-out;
  border-radius: 25px;
  padding: 10px;
  z-index: 5555;
}

.menuSearch.open {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.menuSearch p {
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 25px;
}

.buttonSearch {
  border: none;
  font-weight: bold;
  margin: 20px auto;
  background-color: #c89f36;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  box-shadow: 0 0 10px black;
}
.containerInputSearch {
  width: 100%;
  max-width: 545px;
  font-size: 20px;
  padding: 15px;
}
.formSearch {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px 20px 10px 25px;
  border: 2px solid black;
  padding: 10px;
}
span {
  display: flex;
  gap: 5px;
  width: 130px;
  padding: 8px;
}

.buttonReset {
  border: none;
  font-weight: bold;
  background-color: #c89f36;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
}

.containerCheckbox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.testinput {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
