.formulaire {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100vw;
  justify-content: center;
  margin: 2rem auto;
}
.connection,
.inscription {
  width: 100%;
  min-width: 300px;
  max-width: 600px;
  border-radius: 15px;
  padding: 1rem 1.5em;
  margin-bottom: 1rem;
  background-color: rgba(48, 108, 96, 0.9);
}

.form_inscription,
.form_connection {
  /* On centre le formulaire */
  margin: auto;
  padding: 10px;
  border-radius: 15px;
  background-color: #c89f36;
  color: #0a0a0a;
}
.firstname {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}
p {
  color: #e8f1f0;
  font-size: clamp(16px, 1.2vw, 40px);
}
span {
  font-weight: bold;
  color: #c89f36;
}

h2 {
  color: #120d03;
  margin-bottom: 1rem;
  font-size: 30px;
}
h3 {
  font-size: 20px;
}
h6 {
  margin-bottom: 10px;
}
.civility_container {
  /*On place les éléments en lignes*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin-bottom: 1rem;
}

.civility_choice {
  display: flex;
  align-items: center;
  gap: 5px;
}

.inputCivilityName {
  width: 100%;
  font-size: 1rem;
  padding-left: 1rem;
  border: 1px solid #120d03;
  border-radius: 10px;
  height: 50px;
}

.containerIdentity {
  display: flex;
  justify-content: space-between;
  position: relative;
  /* margin-bottom: 15px; */
}

.lastname,
.firstname,
.email,
.postal-adress,
.tel,
.password,
.passwordCustomer,
.mailCustomer {
  display: block;
  width: 100%;
  position: relative;
}
#lastname-tcheck,
#firstname-tcheck,
#postal-adress-tcheck,
#email-tcheck,
#password-tcheck,
#tel-tcheck,
#emailCustomerTcheck,
#passwordCustomerTcheck {
  display: none;
  position: absolute;
  color: green;
  top: 50%;
  right: 10px;
}

#lastname-tcheck.open,
#firstname-tcheck.open,
#tel-tcheck.open,
#postal-adress-tcheck.open,
#email-tcheck.open,
#password-tcheck.open,
#emailCustomerTcheck.open,
#passwordCustomerTcheck.open {
  display: block;
}
#labelLastname,
#labelFirstname,
#labelEmail,
#labelTel,
#labelAdress,
#labelCustomerMail {
  visibility: hidden;
  color: red;
  font-weight: bold;
  font-size: clamp(9px, 3vw, 17px);
  background-color: rgba(255, 255, 255, 0.9);
  text-wrap: nowrap;
  border-radius: 10px;
  padding: 5px;
}

.input {
  display: flex;
  font-size: 15px;
  width: 100%;
  margin-bottom: 5px;
  padding-left: 10px;
  border: 1px solid #120d03;
  border-radius: 10px;
  height: 50px; /* Taille uniforme pour des champs */
}

#tel {
  width: 100%;
  height: 40px;
  border: 1px solid #120d03;
  border-radius: 10px;
  padding-left: 10px;
}

select {
  margin: 1rem 1rem;
  border-radius: 5px;
  height: 35px;
  width: 100%;
  max-width: 100px;
}

.bi-check-circle-fill {
  position: absolute;
  right: 15px;
  top: 0;
}
.bi-eye-fill,
.bi-eye-slash-fill {
  position: absolute;
  top: 55%;
  right: 25px;
}

#eye {
  display: none;
}
#eye.open {
  display: block;
}
#closeEye {
  display: block;
}
#closeEye.open {
  display: none;
}
.birth {
  display: flex;
  justify-content: space-between;
}
/*---------------------------------------------------------------*/
/* On rajoute une mise en avant pour les éléments avec le focus. */
/*---------------------------------------------------------------*/

input:focus,
textarea:focus {
  outline-color: 5px solid;
}

textarea {
  padding-top: 1rem;
}
.button {
  display: flex;
  margin: auto;
}
.btnSubmit {
  margin: 1rem auto;
  height: 50px;
  width: 100%;
  height: 2rem;
  width: 7rem;
  font-weight: bold;
  border-radius: 10px;
  background-color: #c89f36;
  color: #120d03;
}
#passwordLost {
  text-decoration: none;
  padding-left: 1rem;
  color: #120d03;
  opacity: 0.6;
}
.confirmation_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
  gap: 1rem;
  font-size: 1rem;
}
.confirmation_container_div {
  display: flex;
}
.confirmation {
  height: 1rem;
  margin-right: 0.5rem;
}
