h2 {
  width: 100%;
  font-size: 40px;
  margin: 1rem auto;
  border-radius: 5px;
  color: whitesmoke;
  text-align: center;
}
.linkMutuelle,
.linkSantée {
  text-decoration: none;
  text-align: center;
  margin-top: 20px;
  height: 35px;
}
.offersP {
  font-size: 21px;
  text-align: center;
  margin: auto;
  color: whitesmoke;
}

.containerOffers {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
  margin: 40px auto;
  padding: 20px;
}
.offers {
  width: 100%;
  min-width: 300px;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  border: 0.5px solid #c89f36;
  border-radius: 10px;
  background-color: rgba(48, 108, 96, 0.9);
  box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.5);
  padding: 20px;
}
.containerOffersImage {
  border-radius: 10px;
  width: 100%;
  height: 350px;
  border: 0.8px solid #c89f36;
}
.offersImage {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: contain;
  background-color: rgb(24, 22, 22);
}
