.container {
  max-width: 400px;
  min-width: 320px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 0 15px;
  background: url("/assets/img/wood.jpg");
  background-size: cover;
  border: 15px groove #8b5a2b;

  border: 15px inset #8b5a2b;

  border: 15px outset #8b5a2b;

  border: 15px ridge #8b5a2b;
}
.container form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.inputHidden {
  visibility: hidden;
}
.inputFormConfirmPassword,
.inputFormPassword {
  height: 35px;
  width: 90%;
  border-radius: 8px;
  background-color: #c89f36;
  padding-left: 10px;
}
.bi-check-circle-fill {
  position: absolute;
  right: 0;
  top: 30px;
  color: rgb(19, 171, 19);
}
.checkConfirmPassword,
.checkPassword {
  visibility: hidden;
}
.divConfirmPassword,
.divPassword {
  position: relative;
}
.eye,
.closeEye {
  position: absolute;
  right: 40px;
  top: 55%;
  color: whitesmoke;
}
.eye {
  visibility: hidden;
}
.eye.open {
  visibility: visible;
}
.closeEye {
  visibility: visible;
}
.closeEye.open {
  visibility: hidden;
}

.btnForm {
  font-size: clamp(16px, 3vw, 20px);
  padding: 15px;
  margin: auto;
  border-radius: 10px;
  border: none;
  background-color: #c89f36;
}
.btnReturn {
  color: black;
}
.text-center {
  text-align: center;
}
h2 {
  font-size: clamp(19px, 3vw, 30px);
  color: antiquewhite;
}
p,
label {
  font-size: clamp(18px, 3vw, 20px);
  color: antiquewhite;
}
a {
  font-size: clamp(16px, 3vw, 20px);
  text-decoration: none;
  color: antiquewhite;
}
u:hover {
  background-color: whitesmoke;
}
