main {
  width: 100%;
  margin-bottom: 2rem;
}
/*------------------------------------
--------1ere section------------------
------------------------------------*/

.story {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  width: 100%;
  margin: 50px auto;
}
.carousel {
  width: 100%;
  max-width: 900px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 10px 10px 15px black;
}

.slider {
  display: flex;
  width: auto;
  height: 500px;
  margin: auto;
  transition: transform 0.5s ease-in-out;
}
.slider-slide {
  min-width: 100%;
  height: 100%;
}
.slider-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}

.story-speech-post-it {
  display: flex;
  position: relative;
  width: 100%;
  width: 300px;
  min-height: 300px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
  transform: rotate(1deg);
  border-radius: 10px;
  background-color: #c89f36;
  padding: 10px;
}

.scotch-story-speech {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%) rotate(-2deg);
  width: 150px;
  height: 35px;
  background: linear-gradient(
    145deg,
    rgba(237, 210, 121, 0.8),
    rgba(240, 228, 170, 0.9)
  );
  /* Dégradé pour imiter le scotch */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2),
    inset 0 1px 3px rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  opacity: 0.9;
  /* Légère transparence */
  z-index: 10;
}

.scotch-story-speech::before,
.scotch-story-speech::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 35px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.4),
    rgba(0, 0, 0, 0.1)
  );
  /* Bande lumineuse subtile */
  opacity: 0.5;
  transform: rotate(-2deg);
}

.scotch-story-speech::after {
  top: 0px;
  bottom: auto;
  opacity: 0.7;
}

p {
  margin: auto;
  font-size: clamp(16px, 4vw, 21px);
}
/*------------------------------------
--------2e section------------------
------------------------------------*/

.containerShop {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
.containerHourly {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  /* border: 2px solid; */
  box-shadow: 0 0 15px;
  background: url("/assets/img/wood.jpg");
  background-size: cover;
  border: 20px groove #8b5a2b;

  border: 20px inset #8b5a2b;

  border: 20px outset #8b5a2b;

  border: 20px ridge #8b5a2b;
}
h2 {
  padding: 1rem;
  font-size: clamp(16px, 4vw, 25px);
  border-radius: 15px;
  background-color: rgba(200, 159, 54, 1);
  color: #1c1c1c;
}
table {
  width: 100%;
  border-radius: 15px;
  padding: 5px;
  background-color: rgba(48, 108, 96, 1);
}
td {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  font-weight: bold;
  text-align: center;
  font-size: clamp(16px, 4vw, 21px);
  padding: 10px;
  color: #1c1c1c;
}
th {
  text-align: right;
  font-size: clamp(18px, 4vw, 25px);
  color: #1c1c1c;
}

.translate {
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}
button {
  padding: 1rem;
  border-radius: 15px;
  font-size: clamp(16px, 4vw, 25px);
  font-weight: bold;
  background-color: #c89f36;
}
.containerLocalisation {
  display: flex;
  flex-direction: column;
  align-items: center;
  object-fit: fill;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  background: url("/assets/img/wood.jpg");
  background-size: cover;
  border: 20px groove #8b5a2b;

  border: 20px inset #8b5a2b;

  border: 20px outset #8b5a2b;

  border: 20px ridge #8b5a2b;
}
.googleMaps {
  width: 100%;
  height: 400px;
  box-shadow: 0 0 20px #306c60;
  transition: transform 3s ease-in-out;
  perspective: 1000px;
}
.rotate {
  transform: rotate3d(5, 1, 5, 360deg);
}

.informations {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 15px;
  background-color: rgba(48, 108, 96, 1);
}
.informations p {
  font-weight: bold;
  color: #1c1c1c;
  font-size: clamp(16px, 4vw, 21px);
}
a {
  text-decoration: none;
  color: #2c2c2c;
}
span {
  padding: 10px;
}
